# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode build artifacts
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.swiftpm/
Package.resolved
.build/

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
